body{
    width: auto;
    height: auto;
    margin:5%;
    padding: 5%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    border:solid black;
}

.container{
    width:90%;
    max-width:700px;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(0,0,0,0.1);
    text-align:center;
}

.hidden{
    display:none;
}

h1,h2,h3{
    color:#333;
}


canvas{
    max-width: 550px;
    border: 1px solid red;
    align-items: center;   /* 中央揃え（不要なら消す） */
}

img {
    width: auto;
    height: 300px;
    border:solid blue;
}

.button-area{
    gap: 12px;              /* 間隔 */
    align-items: center;   /* 中央揃え（不要なら消す） */
    border: solid blue;
    margin: 0 auto;
    width: 80%;
    justify-content: center; /* 縦中央 */
    align-items: center;     /* 横中央 */
    display: flex;
    
}

#start {
    display: flex;
    flex-direction: column; /* ← 縦並び */
    gap: 12px;              /* 間隔 */
    align-items: center;   /* 中央揃え（不要なら消す） */
}

#startBtn{
    width: 210px;
    height: 120px;
    font-size: 20px;
    background-image: url(../images/btnStart.png);
}

#btnA {
    background-image: url("../images/btnA.png");
}

#btnB {
    background-image: url("../images/btnB.png");
}


button:active {
    transform: scale(0.95);
}

button:hover {
    opacity: 0.8;
}

button {
    width: 35vw;
    height: 25vh;

    max-width: 300px;
    max-height: 180px;

    min-width: 90px;
    min-height: 50px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;

    border: none;
    padding: 0;
    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#username{
    width: 60%;
    height: 50px;
}

.chart-container{
    width: min(70vw, 400px);
    height: min(70vw, 400px);
    margin: 0 auto;
}